[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "submodules/sol2"]
	path = submodules/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "submodules/lua"]
	path = submodules/lua
	url = https://github.com/lua/lua
[submodule "submodules/imgui-knobs"]
	path = submodules/imgui-knobs
	url = https://github.com/altschuler/imgui-knobs
[submodule "submodules/rtmidi"]
	path = submodules/rtmidi
	url = https://github.com/thestk/rtmidi
[submodule "submodules/imsearch"]
	path = submodules/imsearch
	url = https://github.com/GuusKemperman/imsearch.git
[submodule "submodules/imgui_toggle"]
	path = submodules/imgui_toggle
	url = https://github.com/cmdwtf/imgui_toggle.git
